<form action="/wizard_add">
<h1>New addition</h1>
  <div>
    <label for ="start">
    Add this:
    </label>

    <input id="start" type="text" name="user_start">
  
    <label for="end">
    to this:
    </label>

    <input id="end" type="text" name="user_end">
   
    <button>
    Add!
    </button>
   </div>

</form>
