<form action="/wizard_divide">
<h1>New division</h1>
  <div>
    <label for ="start">
    Divide this:
    </label>

    <input id="start" type="text" name="div1">
  
    <label for="end">
    by this:
    </label>

    <input id="end" type="text" name="div2">
   
    <button>
    Divide!
    </button>
   </div>

</form>
