<h1>Multiplication</h1>

<dl>
  <dt>First number</dt>
  <dd><%= @mul1%></dd>
  <dt>Second number</dt>
  <dd><%= @mul2%></dd>
  <dt>Result</dt>
  <dd><%= @mulans%></dd>
</dl>

<a href= "/multiply">Do another multiplication</a>
