<form action="/wizard_multiply">
<h1>New multiplication</h1>
  <div>
    <label for ="start">
    Multiply this:
    </label>

    <input id="start" type="text" name="mul1">
  
    <label for="end">
    by this:
    </label>

    <input id="end" type="text" name="mul2">
   
    <button>
    Multiply!
    </button>
   </div>

</form>
