<form action="/wizard_subtract">
<h1>New subtraction</h1>
  <div>
    <label for ="start">
    Subtract this:
    </label>

    <input id="start" type="text" name="num1">
  
    <label for="end">
    from this:
    </label>

    <input id="end" type="text" name="num2">
   
    <button>
    Subtract!
    </button>
   </div>

</form>
